\:root
    --font-primary: Lato, Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
    --font-display: 'IBM Plex Sans', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
    --font-code: 'IBM Plex Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace

    // Font Sizes
    --font-size-xs: 1.15rem
    --font-size-sm: 1.35rem
    --font-size-md: 1.5rem
    --font-size-lg: 1.8rem
    --font-size-xl: 2.4rem

    // Line heights
    --line-height: 1.6

    // Colors
    --color-back: #FFF
    --color-front: #424242
    --color-theme: #0288D1
    --color-theme-contrast: #FFF
    --color-subtle-dark: #424242
    --color-subtle-medium: #EEE
    --color-subtle-light: #F9f9F9
    --color-background-code: #7a818117

    --color-button-primary: #F57C00
    --color-button-primary-contrast: #ffF
    --color-button-secondary: #512DA8
    --color-button-secondary-contrast: #FFF
    --color-button-danger: #D32F2F
    --color-button-danger-contrast: #FFF

    --color-correct-light: #DCEDC8
    --color-correct-dark: #689F38
    --color-incorrect-light: #FFCDD2
    --color-incorrect-dark: #D32F2F

    // Syntax Highlighting
    --syntax-background: #F7F7F7
    --syntax-text: #403F53
    --syntax-selected-background: #7a81812b
    --syntax-comment: #989FB1
    --syntax-tag: #7C4DFF
    --syntax-number: #F6A434
    --syntax-selector: #91B859
    --syntax-operator: #39ADB5
    --syntax-function: #6182b8
    --syntax-keyword: #7C4DFF
    --syntax-regex: #5CA7E4

    // Terminal Window Colors
    --ansi-green: #B2FF59
    --ansi-red: #ff5252
    --ansi-cyan: #18FFFF

    // Sizes
    --width-container: 800px
    --size-profile-pic: 125px
    --border-radius: 5px
